<div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>        
<div class="content">
    <div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-profile" data-background-color="green">
                        <h4 class="title">NedBank</h4>
                        <p class="category">Experience Your New banking </p>
                    </div>
                    <div class="card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="../assets/img/logo.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Username</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success   btn-round">Sign In</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>